@media screen and ( max-width: 600px )
    .header
        display: flex !important
        justify-content: space-between !important
        padding: 20px 0 !important
        .row
            justify-content: space-between !important
            margin-right: 0 !important
        .hamburger
            margin-right: 13px !important
            margin-top: 13px !important
            display: block !important
        .col-md-8
            display: none !important
           
    .main
        min-height: 100vh !important
        padding: 110px 0 180px 0 !important
        h1
            font-size: 32px !important
    
    .services
        margin-top: 150px !important
        &__content
            justify-content: center !important
            &-item
                margin-bottom: 30px !important
                button
                    display: block !important

    .about_us
        margin-top: 150px !important
        &__description
            padding: 0px 15px 0px 15px !important
            p
                &:last-child
                    margin-top: 20px !important
        &__img
            min-height: 335px !important
            width: 100% !important
            background-size: 90% !important
            background-position: center center !important
    
    .about_us2
        &__description
            padding-top: 0 !important
            min-height: 615px !important
            background-size: 93% !important
            background-position: center bottom !important

        &__description2
            margin-top: 40px !important
            padding-top: 0 !important
            min-height: 495px !important
            background-size: 93% !important
            background-position: center bottom !important
    
    .works
        margin-top: 150px !important
        
    .works, .works2
        &__content
            justify-content: center !important
            .col-md-6
                padding-right: 0 !important
            &-item
                margin-bottom: 50px
                &:nth-child(2n)
                    margin-top: 0 !important
                    padding-left: 0 !important
                &:last-child
                    margin-top: 0 !important
                    margin-bottom: 0 !important
                img
                    width: 100% !important

    .services_main
        h1
            font-size: 32px !important

    .works2
        margin-bottom: 110px !important

    .types_services
        margin-top: 150px !important
        &__description
            margin-top: 60px !important
            p
                &:after
                    left: -15px !important

    .request
        padding: 100px 0 !important
        &__form
            form
                display: flex !important
                justify-content: flex-end !important
                input
                    margin-bottom: 35px !important
                input[type=submit]
                    width: 220px !important
                    margin-left: 0 !important
                    margin-top: 20px !important

    .footer
        .offset-1
            margin-left: 0 !important
        &__2
            margin-top: 80px !important
        &__3
            margin-top: 80px !important

@media screen and ( width: 320px )
    .active__header
        .active__menu
            .a1
                margin-top: 60px !important
    .services
        &__content
            &-item
                p
                    margin-bottom: 100px !important
                button
                    margin: 0 auto !important

@media screen and ( min-width: 1920px )
    .main
        padding: 355px 0 !important

    
        