@media screen and ( max-width: 600px )
    .header
        div
            ul
                display: none
    .main
        min-height: 100vh !important
        padding: 110px 0 180px 0 !important
    

    
        