@media screen and ( max-width: 600px )
    .title
        padding-bottom: 38px !important
    .header
        div
            ul
                display: none
    .main
        min-height: 100vh !important
        padding: 110px 0 180px 0 !important
    
    .services
        &__content
            &-item
                margin-bottom: 30px !important

    .about_us
        &__description
            padding: 0px 15px 50px 15px !important
    
    .works
        &__content
            justify-content: center !important
            .col-md-6
                padding-right: 0 !important
            &-item
                margin-bottom: 50px
                &:nth-child(2n)
                    margin-top: 0 !important
                    padding-left: 0 !important
                img
                    width: 100% !important

    .request
        padding: 100px 0 !important
        &__form
            form
                display: flex !important
                justify-content: flex-end !important
                input
                    margin-bottom: 35px !important
                input[type=submit]
                    width: 220px !important
                    margin-left: 0 !important
                    margin-top: 20px !important

    .footer
        .offset-1
            margin-left: 0 !important
        &__2
            margin-top: 80px !important
        &__3
            margin-top: 80px !important

@media screen and ( width: 414px )
    .services
        &__content
            justify-content: center !important
    
                    
            
    

    
        