*
    box-sizing: border-box
    font-family: 'Noto Sans', sans-serif

@import 'media'

body
    margin: 0
    padding: 0

.title
    color: #2f4858
    font-size: 30px
    font-weight: 700
    span
        border-bottom: 6px solid #2052B7

    

.header
    margin: 33px 0
    ul
        display: flex
        justify-content: space-around
        margin-top: 20px
        a
            color: #2f4858
            font-size: 16px
            font-weight: 400
            text-decoration: none
.main
    background: url('../img/main_bg.svg') center (center / cover) no-repeat
    min-height: 100vh
    padding: 255px 0
    h1
        color: #fefefe
        font-size: 36px
        font-weight: 700
        padding-bottom: 30px
        padding-left: 0
    h2
        color: #fefefe
        font-size: 18px
        font-weight: 400
        padding-bottom: 40px
        padding-left: 0
    button
        color: #ffffff
        font-size: 18px
        font-weight: 500
        background-color: #e73224
        padding: 12px 35px 13px 35px
        border: none

.services
    margin-top: 150px
    &__content
        &-1
            background: url('../img/services1.svg') cover no-repeat
            width: 445px
            height: 370px
        &-2
        &-3
            margin-right: 30px
        &-4
            margin-right: 30px
    
    