.hamburger {
	position: absolute;
	width: 24px;
 	height: 18px;
  	transform: translate(-50%, -50%);
	right: 0%;
	top: 33px;
	z-index: 1111;
}
.line {
	position: absolute;
	width: 24px;
	height: 3px;
	background: black;
	z-index: 1200;
}
.line:nth-child(2) {
	top: 50%;
}
.line:nth-child(3) {
	top: 100%;
}

